{% extends "account/base.html" %}

{% load i18n crispy_forms_tags %}

{% block title %}{% trans "Change Password" %}{% endblock %}

{% block content %}

    {{ block.super }}

    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">{% trans "Change Password" %}</h3>
        </div>

        <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
            {% csrf_token %}
            <div class="box-body">
                <div class="col-md-10 col-md-offset-1">
                    {{ form|crispy }}
                </div>
            </div>

            <div class="box-footer">
                <div class="col-md-10 col-md-offset-1">
                    <input type="submit" class="btn btn-success default" value="{% trans 'Change Password' %}">
                </div>
            </div>
        </form>

    </div>

{% endblock %}