{% extends "admin/base_site.html" %}
{% load i18n %}
{% load account %}

{# Allow indexing by search engine robots#}
{% block blockbots %}{% endblock %}


{% block extra_header_menu %}
    {% block login_register_options %}
        {% if not user.is_authenticated %}
            <li><a href="{% url 'account_login' %}">{% trans 'Log in' %}</a></li>
            <li><a href="{% url 'account_signup' %}">{% trans 'Register' %}</a></li>
        {% endif %}
    {% endblock %}
{% endblock %}


{% block navbar %}
    <section class="content-header">
        {% block content_title %} {% endblock %}
    </section>
{% endblock %}