{% extends "account/base.html" %}

{% load i18n crispy_forms_tags %}

{% block title %}{% trans 'Sign Up' %}{% endblock %}
{% block content_title %}<h1>{% trans 'Sign Up' %}</h1>{% endblock %}

{% block content %}

    {{ block.super }}

    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</h3>
        </div>

        <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">{% csrf_token %}
            <div class="box-body">
                <div class="col-md-10 col-md-offset-1">
                    {% crispy form %}
                    {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                    {% endif %}
                </div>
            </div>

            <div class="box-footer">
                <div class="col-md-10 col-md-offset-1">
                    <div class="col-md-12">
                        <input type="submit" class="btn btn-success default" value="{% trans 'Sign Up' %}">
                    </div>
                </div>
            </div>
        </form>

    </div>

{% endblock %}
