{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block title %}{% trans 'Password Reset' %}{% endblock %}


{% block content %}

    {{ block.super }}

    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">{% trans "Password Reset" %}</h3>
        </div>

        <div class="box-body">
                {% if user.is_authenticated %}
                    {% include "account/snippets/already_logged_in.html" %}
                {% endif %}
                <p>{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few
                    minutes.{% endblocktrans %}</p>

        </div>
    </div>

{% endblock %}
